body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #138aa8 0%, #138aa8 2%, #118ba3 2%, #1688ac 2%, #108baa 3%, #138aa2 3%, #5deeff 3%, #13cee1 3%, #12cce5 3%, #11cee1 3%, #14cee3 3%, #29d3e4 5%, #31d4e7 5%, #33d5e4 6%, #4ad9e9 7%, #4edae9 7%, #80e5ef 10%, #8de7f0 10%, #cdf4f9 13%, #cdf5f7 13%, #daf8fa 14%, #dcf8fb 14%, #e4f9fc 15%, #eefcfd 17.5%, #f2fcfe 17.5%, #f8fefe 17.5%, #fbfcff 17.5%, #fafffc 17.5%, #feffff 17.5%, #fbffff 17.5%, #fffdfa 17.5%, #fffeff 17.5%, #3fc7d3 17.5%, #41c5d2 18%, #39bcce 20%, #30b3c7 23%, #23a5bd 26%, #23a5bf 26%, #1d9fb9 27%, #1d9ebb 28%, #1596b3 30%, #1091b1 32%, #0f8aac 53%, #0e82a7 63%, #0e79a3 84%, #0b76a0 88%, #0c739e 100%);
  font-size: 14px;
  font-family: Tahoma;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  background-color: white;
  margin: 0 150px 30px 150px;
  box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  -moz-box-shadow: 0 0 20px black;
}
main {
  flex-grow: 1;
}
header {
  height: 175px;
  color: #128aa7;
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
}
footer {
text-align: center;
color: white;
font-size: 12px;
padding: 10px;
}
.flex1 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.flex11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.contacts {
  float: right;
}
.bold {
  font-weight: bold;
}
.mail {
  text-decoration: none;
  color: #128aa7;
}
.countries li {
  float: left;
  min-width: 65px;
  font-size: 10px;
}
.countries a {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #128aa7;
}
.main-img {
  width: 100%;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: "";
    clear: both;
    float: none;
}
.menu {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #333333;
}
.menu li {
  float: left;
  height: 20px;
  width: auto;
  cursor: pointer;
  position: relative;
  background-color: #333333;
  padding: 10px;

}
.menu a {
  color: white;
  text-decoration: none;
}
.submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 20px;
  width: auto;
  background: #333333;
}
.submenu li {
  display: block;
  width: 150px;
}
.submenu li a {
  display: block;
  padding: 5px;
  color: white;
  background-color: #333333;
  text-decoration: none;
}
.menu li a:hover {
display: block;
}
.menu li:hover .submenu {
display: block;
}
.fon {
  width: 100%;
  overflow: hidden;
}
.info {
  display: block;
  float: left;
  background-color: #edeef0;
  width: 210px;
  border-right: 1px solid gray;
  text-align: center;
  line-height: 24px;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
.news {
  display: block;
  float: right;
  background-color: #edeef0;
  width: 210px;
  border-left: 1px solid gray;
  text-align: center;
  line-height: 24px;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
.title {
  font-size: 18px;
  text-align: center;
}
